
body {
  margin: 0;
  padding: 0;
}

.container {
  /* margin:0 auto; */
  /* width:100%; */
  padding:0px; 
  border:0.5px solid gray
}




/****/
/** 공통사항 **/

.inner-container {
  margin: 0px 40px;
}
input[type=text]{
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;   
  border:2px solid #aaa
}
input[type=text]:focus{
    border-color:dodgerblue;
    box-shadow:0 0 8px 0 dodgerblue
}
.section-area {
  padding: 30px 0px;
}
.section-area1{
  background-color: #F5F5F5;
  padding: 0px 0px 40px 0px;
}
.section-area3{
  clear: both;
}
.section-area4{
  background-color: #F5F5F5;
  padding: 0px 0px 40px 0px;
}
.logo-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.logo-container img {
  width: 400px;
}




/** section 1 **/
.product-name {
  background-color: #007C3D;
  height: 60px;
  /* position: relative; */
}
.vertical-container{
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  text-align: center;
  /* border: 1px solid; */
}
.product-information {
  background-color: #84BF25;
  margin: 30px 0;
  padding-left: 20px;
  height: 40px;
  /* border: 2px solid red; */
}
.product-information-inner{
  color: #ddd;
  position: relative;
}
.box {
  margin: 10px 0;
  border: 1px solid #EBEBEB;
  background-color: #EBEBEB;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  position: relative;
}
.check {
  width: 35px;
  cursor: pointer;
}
.dajoong1{
  color : #FFFFFF;
  font-size: 20px;
}
.SME-text{
  font-size: 16px;
  font-weight: 600;
}
.section-title {
  font-size: 22px;
  padding-bottom: 15px;
  font-weight: 700;
  border-bottom: green 1px solid;
  margin-bottom: 30px;
  color:#0F998B;
}
.show-text {
  position: absolute;
  top: 10px;
  right: 10px;

  font-weight: 700;
  cursor: pointer;
}
.subtext{
  margin : 25px 0px;
  font-size: 14px;
}
.checkText{
  font-size : 14px;
}
.agree-title{
  font-weight: 700;
}
.underText{
  margin-left:40px;
}
.red{
  color:red
}


/** section2 **/
/** 상품정보 **/
.product-area{
  /* position: relative; */
  /* height:130px; */
  /* border: 1px solid black; */

}
.product-area1 {
  /* display: inline-block; */
  width:50%;
  float:left;
  /* border: 1px solid red; */
  /* box-sizing: border-box; */
}
.product-area2 {
  padding-left : 15px;
  float:left;
  /* display: inline-block; */
  width : 50%;
  /* position: absolute; */
  /* border: 1px solid blue; */
  /* box-sizing: border-box; */
}
.number-container{

  display:flex;
  justify-content: space-between;
  /* width:100% */
  /* border: 1px solid; */
}
.productNum{
  margin-right: 10px;
}
.productNumber-area .information-title{
  font-size: 16px;
  font-weight: 800;
  /* border: 1px solid; */
}

.productNumber-area .information-write{
  width:calc(100% - 130px);
  display : inline-block;
  /* border: 1px solid; */
}

.number-container input{
  margin : 0px 5px;
}
.choose{
  width: 100%;
  margin-bottom: 20px;
}
.job-information{
  margin-bottom: 20px;
} 
.MU{
  margin-right: 10px;
}
.information-detail{
  display:inline-block;
  margin-right : 2%;
  width:48%;
  margin-bottom: 20px;
}

.step1 .information-title{
  margin-right : 10px;
  width:50px;
} 

.information-detail input{
  width:calc(80% - 60px);
  /* border: 1px solid blue; */
}
.premium-area{
  width: 100%;
} 

.expectedPremium-area .information-title{
  width : 100px;
  margin-right: 30px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}
.expectedPremium-area .information-write{
  display: inline-block;
}
.dpremium-btn{
  /* border: 1px solid; */
  /* display:inline-block; */
  /* float:right; */
  /* width:30%; */
}


/** section3 **/
/** 신청정보 신청정보 **/
.applicant-area {
  margin-bottom: 30px;
  /* border: 1px solid white; */
}
.applicant-area1 {
  width: 100%;
  /* border: 1px solid; */
 }
 .applicant-area2 {
  width: 100%;
  /* border: 1px solid; */
 }
 .applicant-area3 {
  width: 100%;
  /* border: 1px solid; */ 
 }
 .block{
  display: inline-block;
  /* float: left; */
  width: 49%;
  /* float: left; */
  /* border: 1px solid; */
}
.form {
  /* width:100%; */
  margin-bottom: 20px;
}
.message{
  color: green;
  font-size: 14px;
}
.estarc{
  color: green;
}
.btn-area{
  text-align: center;
}
.applicant-btn{
  height: 100px;
  font-size: 20px;;
}
.form input{
  width:calc(100% - 160px);
}
.form textarea{
  border-radius: 4px;
  outline: none;
  border: 2px solid #aaa;
  box-sizing: border-box;
  width:calc(100% - 130px);
}
.form textarea:focus{
  border-color:dodgerblue;
  box-shadow:0 0 8px 0 dodgerblue;
}
 .businessAddress-area input{
  width:calc(100% - 130px);
  /* border: 1px solid red; */
} 
.customerOpinion-area .information-title{
  position: relative;
  bottom : 60px;
} 
.applicant-btn{
  width:100%;
} 

/** section4 **/

.hulk-container{
  padding-top: 20px;
  margin:30px;
  /* border : 1px solid */
}
.line-container{
  width:230px;
  position: relative;
  float: right;
  /* border: 1px solid; */
}
.line-text{
  display: inline-block;
  /* border: 1px solid; */
}
.line-container img{
  position: absolute;
  top: 0;
  right: 0;
  width:50px;
}
.hulk-information-container{
  margin-bottom: 30px;
  font-size: 14px;
  /* border: 1px solid; */
}
.hulk-information1{
  margin-right: 30px;
  display: inline-block;
}
.hulk-information2{
  
  display: inline-block;
}
.footer-container{
  font-size :14px;
  height: 40px;
  text-align: center;
}
.footer-inner{
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.dajoong{
  color: #126e2a;
}
.information-title {
  display: inline-block;
  width: 120px;
  /* border: 1px solid; */
}


/**밑으로는 정리 안한 것들 **/


@media (max-width : 1024px){
  .productNumber-area .information-title{
    /* border: 1px solid; */
    margin-bottom: 10px;
    display:block
  }

  .productNumber-area .information-write{
    /* border: 1px solid; */
    width: 100%;
  }
  

}

@media (max-width : 767px) {
 

  .block{
    display: block;
    width: 100%;
    /* border: 1px solid;*/
  }

  .product-area1{
    display: block;
    /* border: 1px solid; */
    float: none;
    width: 100%;
    margin-bottom: 50px;
  }
  .product-area2{
    display:block;
    /* border: 1px solid; */
    float: none;
    width: 100%;
  }

  .line-container{
    float: none;
    margin-bottom:20px ;
    /* border: 1px solid; */
  }

  .productNumber-area .information-title{
    width: 80px;
    /* border: 1px solid; */
  }
 
  .logo-container img{
    width: 300px;
  }

  .dajoong1{
    font-size: 16px;
  }


  .SME-text{
    font-size: 12px;
  }

  .box{
    font-size: 11px;
  }
  
  .inner-container{
    /* border: 1px solid; */
    margin: 0 20px;
  }
 
  .subtext{
    font-size: 10px;
  }

  .checkText{
    font-size: 10px;
  }
  .form{
    font-size: 12px;;
  }
  
}

